<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    public String account;
    public String password;
    public String nickname;
    public String telephone;
    public String email;
-->

<mapper namespace="com.example.bookmanagementsystem.mapper.UserMapper">
    <select id="selectAll"
            resultType="com.example.bookmanagementsystem.bean.User">
        select * from user
    </select>

    <select id="selectByAccount"
            resultType="com.example.bookmanagementsystem.bean.User">
        select * from user where account=#{account}
    </select>

    <select id="getPassword"
            resultType="String">
        select password from user where account=#{account}
    </select>

    <insert id="insert">
        insert into user values (
            #{account}, #{password}, #{nickname}, #{telephone}, #{email}
        )
    </insert>

    <update id="update">
        update user
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
        </set>
        where account = #{account}
    </update>

    <delete id="deleteByAccount">
        delete from user where account = #{account}
    </delete>

</mapper>